@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url('images/backgr.png');
    display: block;
}

.g_container {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: black;
    justify-content: space-evenly;
}

.ui {
    flex-grow: 1;
    max-width: 5vw;
}

.sidebar {
    background: #070112;
    min-width: 50px;
    display: flex;
    flex-direction: column;
}

.gamewindow {
    flex-grow: 4;
    background: #070112;
    max-width: unset;
    overflow: hidden;
}

.ui_label {
    box-sizing: border-box;
    font-family: 'Concert One', sans-serif;
    font-size: 1vw;
    width: 100%;
    text-align: center;
    height: auto;
    color: white;
    margin: 5px auto;
}

.ui_element {
    font-size: 1vw;
    color: black;
}

.meterbox {
    margin: 5px auto;
    max-width: 4vw;
    min-width: 25px;
    border: 5px solid black;
    background: gold;
    height: 200px;
}

.meter {
    width: 100%;
    height: 0px;
    background: white;
}